/* tailwindcss */

/* Theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base styles */
body {
  background-color: #f3f4f6; /* gray-100 */
  color: #1f2937; /* gray-800 */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Inputs */
input {
  outline: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
}

/* Buttons */
button {
  transition: all 0.2s ease;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}